<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품조회</title>
</head>
<body>
  상품조회
  <form action="" method="post">
    <div><label for="pname">상품명</label><input type="text" id="pname" name="pname" readonly th:value="${detailForm.pname}"></div>
    <div><label for="quantity">수량</label><input type="text" id="quantity" name="quantity" readonly th:value="${detailForm.quantity}"></div>
    <div><label for="price">가격</label><input type="text" id="price" name="price" readonly th:value="${detailForm.price}"></div>
    <div><input type="submit" value="등록"></div>
  </form>
</body>
</html>