<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{title.product.update}">상품수정</title>
  <style>
    .field-error {color:red; font-weight:bold; font-size:0.8rem;}

    .fieldError { border:1px solid red; }
    .fieldSuccess { border:1px solid green; }
  </style>
  <script type="module">
    import {ajax} from '/js/common.js';

    [...document.querySelectorAll('.field-error')].forEach(ele=>ele.textContent = ele.innerHTML.replace('<br>',' / '));

    frm.addEventListener('submit',e=>{
      e.preventDefault();  // 기본 이벤트 막기
      console.log('submit이벤트');
      //유효성체크
      if(pname.value.trim().length === 0) {
        errPname.textContent = '상품명은 필수 입니다';
        pname.focus();
        return;
      }
      if(quantity.value.trim().length === 0) {
        errQuantity.textContent = '수량 필수 입니다';
        quantity.focus();
        return;
      }
      if(price.value.trim().length === 0) {
        errPrice.textContent = '가격은 필수 입니다';
        price.focus();
        return;
      }

      //이상없으면 요청메세지 만들어서 전송
      frm.submit();
    });

    //목록
    btnFindAll.addEventListener('click',e => location.href = '/products');

    const attachFiles = (e,res) => {
      if(res.header.rtcd == '00'){
        e.target.closest('div').remove();
      }
    }
    const deleteAttachFile_h = e => {
      if(e.target.classList.contains('delBtn')){
        if(!confirm('삭제하시겠습니까')) return;

        (async()=>{
          const url = `/attach/${e.target.dataset.fid}`;
          try{
            const res = await ajax.delete(url);
             attachFiles(e,res);
          }catch(err){
            console.log(err);
          }
        })();
      }
    }
    document.getElementById('attachedFiles').addEventListener('click',deleteAttachFile_h);
  </script>
</head>
<body>
  <h3 th:text="#{title.product.update}">상품수정</h3>
  <div class="field-error" th:errors="${updateForm}">...</div>
  <form id="frm" action="" th:method="patch" th:object="${updateForm}" enctype="multipart/form-data">
    <div>
      <label for="productId">상품번호</label>
      <input type="text" id="productId" name="productId" readonly th:field="*{productId}">
    </div>
    <div>
      <label for="pname" th:text="#{label.product.pname}">상품명</label>
      <input type="text" id="pname" name="pname" maxlength="10" th:field="*{pname}" th:class="${#fields.hasErrors('pname')} ? fieldError : fieldSuccess">
      <span class="field-error" th:errors="*{pname}"></span>
      <span class="field-error client" id="errPname"></span>
    </div>
    <div>
      <label for="quantity" th:text="#{label.product.quantity}">수량</label>
      <input type="text" id="quantity" name="quantity" maxlength="10" th:field="*{quantity}" th:errorclass="fieldError">
      <span class="field-error" th:errors="*{quantity}"></span>
      <span class="field-error client" id="errQuantity"></span>
    </div>
    <div><label for="price" th:text="#{label.product.price}">가격</label>
      <input type="text" id="price" name="price" th:field="*{price}" maxlength="10" th:class="${#fields.hasErrors('price')}? fieldError">
      <span class="field-error" th:errors="*{price}"></span>
      <span class="field-error client" id="errPrice"></span>
    </div>
    <div>
      <div><label th:for="*{attachFiles}">설명첨부</label><input type="file" name="" id="" th:field="*{attachFiles}" multiple></div>
      <div><lable th:for="*{imageFiles}">이미미지첨부</lable><input type="file" name="" id="" th:field="*{imageFiles}" multiple></div>
    </div>
    <div>
      <input type="submit" value="저장" id="btnUdate" >
      <input type="button" value="목록" id="btnFindAll">
    </div>
    <div id="attachedFiles">
      <div><label>첨부</label></div>
      <div>
        <div th:each="file : *{attachedFiles}">
          <a href="" th:href="@{|/attach/down/${file.uploadfileId}|}" th:text="${file.upload_filename}"></a>
          <a href="#" class="btn delBtn" th:data-fid="${file.uploadfileId}">삭제</a>
        </div>
        <div th:each="file : *{imagedFiles}">
          <div th:unless="${#strings.contains(file.ftype,'image')}" >
            <a href="" th:href="@{|/attach/down/${file.uploadfileId}|}" th:text="${file.upload_filename}"></a>
            <a href="#" class="btn delBtn" th:data-fid="${file.uploadfileId}">삭제</a>
          </div>
          <div th:if="${#strings.contains(file.ftype,'image')}">
            <img th:src="@{|/attach/view/${file.uploadfileId}|}" th:width="70px" th:height="70px">
            <a href="#" class="btn delBtn" th:data-fid="${file.uploadfileId}">삭제</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
</html>