<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자</title>
</head>
<body>
  <h3 th:if="${!session.isEmpty()}">
    <p><span th:text="${session.loginMember.nickname}"></span><span>님 반갑습니다.</span></p>
    <p>[[${session.loginMember.nickname}]]님 반갑습니다.</p>
  </h3>
  <ul>
    <li><a href="" th:href="@{/admin}">관리자메뉴</a></li>
    <li><a href="" th:href="@{/logout}">로그아웃</a></li>
  </ul>
</body>
</html>