<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},       <!--/* title */-->
      <!--/*--------------------------*/-->
      <!--/* external */-->
      ~{::link},              <!--/* styles */-->
      ~{::script},              <!--/* scripts */-->
      <!--/* internal */-->
      ~{},              <!--/* style */-->
      ~{},              <!--/* script */-->
      <!--/*--------------------------*/-->
      ~{::.topmenu},    <!--/* upm */-->
      ~{::.head },      <!--/* header */-->
      ~{::.gnb},         <!--/* gnb */-->
      ~{::main},        <!--/* main */-->
      ~{::.foot},       <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면</title>
  <link rel="stylesheet" th:href="@{/css/afterLogin.css}">
  <script defer th:src="@{/js/afterLogin.js}"></script>

</head>
<body>
<div class="wrap">
  <div id="tl"/>
  <div id="tc">
    <div class="topmenu" th:insert="~{fragment/top::afterLoginTop}"/>
  </div>
  <div id="tr"></div>
  <div id="banner">
    <header class="head" th:insert="~{fragment/banner::global}"/>
  </div>
  <div id="gnb">
    <nav class="gnb" th:insert="~{fragment/menu::global}"/>
  </div>
  <div id="content">
    <main class="main">
      <div class="grid-container" id="imageGrid"></div>
    </main>
  </div>
  <div id="foot">
    <footer class="foot" th:insert="~{fragment/footer::global}"/>
  </div>
</div>
</body>
</html>