<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면</title>
</head>
<body>
  <header th:replace="~{fragment/header::afterLogin}"></header>
  <h3 th:if="${!session.isEmpty()}">
    <p><span th:text="${session.loginMember.nickname}"></span><span>님 반갑습니다.</span></p>
    <p>[[${session.loginMember.nickname}]]님 반갑습니다.</p>
  </h3>
  <main>
    <menu>
    <ul>
      <li><a href="" th:href="@{/mypage}">마이페이지</a></li>
      <li><a href="" th:href="@{/products}">상품관리</a></li>
      <li><a href="" th:href="@{/logout}">로그아웃</a></li>
    </ul>
    </menu>
  </main>
  <footer th:replace="~{fragment/footer::afterLogin}"></footer>
</body>
</html>