<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},       <!--/* title */-->
      <!--/*--------------------------*/-->
      <!--/* external */-->
      ~{},              <!--/* styles */-->
      ~{},              <!--/* scripts */-->
      <!--/* internal */-->
      ~{},              <!--/* style */-->
      ~{::script},      <!--/* script */-->
      <!--/*--------------------------*/-->
      ~{::.topmenu},    <!--/* upm */-->
      ~{::.head },      <!--/* header */-->
      ~{::.gnb},         <!--/* gnb */-->
      ~{::main},        <!--/* main */-->
      ~{::.foot},       <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <script type="module">
      import { changeErrMsg } from '/js/common.js';
      changeErrMsg();
    </script>
  <script type="module">
      frm.addEventListener('submit', e => {
        e.preventDefault(); //기본 이벤트 막기
        //유효성 체크로직
        //1) 아이디 : 필수, 50자이하, 이메일형식
        if (email.value.trim().length == 0 || email.value.trim().length > 50) {
          errEmail.textContent = '필수, 50자 이하';
          email.focus();
          return;
        } else {
          errEmail.textContent = '';
        }
        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if (!emailRegex.test(email.value)) {
          errEmail.textContent = '이메일 형식과 맞지 않습니다.';
          email.focus();
          return;
        } else {
          errEmail.textContent = '';
        }
        //2) 비밀번호 : 필수
        if (passwd.value.trim().length == 0) {
          errPasswd.textContent = '필수 입력 필드입니다';
          passwd.focus();
          return;
        } else {
          errPasswd.textContent = '';
        }

        frm.submit();
      });
    </script>
</head>
<body>
<div class="wrap">
  <div id="tl"></div>
  <div id="tc">
    <div class="topmenu" th:insert="~{fragment/top::beforeLoginTop}"/>
  </div>
  <div id="tr"></div>
  <div id="banner">
    <header class="head" th:insert="~{fragment/banner::global}"/>
  </div>
  <div id="gnb">
    <nav class="gnb" th:insert="~{fragment/menu::global}"/>
  </div>
  <div id="content">
    <main class="main">
      <h3>로그인</h3>
      <!--//form 밖에서 글로벌 오류메세지 출력
          <div class="field-error" th:errors="${loginForm}"></div>
      -->
      <form id="frm" th:action th:method="post" th:object="${loginForm}">
        <div>
          <input class="border" type="email" th:field="*{email}" />
          <span class="field-error" name="email" id="email" th:errors="*{email}"></span>
          <span class="field-error" id="errEmail"></span>
        </div>
        <div>
          <input class="border" type="passwd" name="passwd" id="passwd" th:field="*{passwd}" />
          <span class="field-error" th:errors="*{passwd}"></span>
          <span class="field-error" id="errPasswd"></span>
        </div>
        <div class="field-error" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">..</div>
        <div><input class="px-3 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" type="submit" value="로그인" /></div>
      </form>
      <div><a href="" th:href="@{/members/findEmail}">아이디찾기</a></div>
    </main>
  </div>
  <div id="foot">
    <footer class="foot" th:insert="~{fragment/footer::global}"/>
  </div>
</div>
</body>
</html>