<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./main.css">
  <style>
    /* * {outline:1px solid red} */

  </style>
</head>
<body>
  <div class="wrap">
    <div id="tl">tl</div>
    <div id="tc">
      <div class="topmenu">
        <p>로그인 | 회원가입</p>
      </div>
    </div>
    <div id="tr">tr</div>
    <div id="banner">
      <header class="head"></header>
    </div>  
    <div id="gnb">
      <nav class="menu">
        <ul class="items">
          <li class="item item1"><a href="#">웹표준</a></li>
          <li class="item item2"><a href="#">자바</a></li>
          <li class="item item3"><a href="#">안드로이드</a></li>
          <li class="item item4"><a href="#">데이터베이스</a></li>
          <li class="item item5"><a href="#">스프링</a></li>
        </ul>
      </nav>
    </div>
    <div id="content">
      <main class="main_cont">
        본문  
      </main>
    </div>
    <div id="foot">
      <footer class="main">
        <p>Cpyright by Gildong Hong. All Rights Reserved.</p>
      </footer>
    </div>
  </div>
</body>
</html>